@use '../base/variables' as *;
@use '../base/mixins.scss' as *;

.splide {
    overflow: hidden;

    .splide__arrows {
        @media (max-width: $tablet) {
            display: none;
        }
        button.splide__arrow.splide__arrow--prev {
            margin-left: 20px;
            width: 3em;
            height: 3em;
        }
    
        button.splide__arrow.splide__arrow--next {
            margin-right: 20px;
            width: 3em;
            height: 3em;
        }
    }
   

    .splide__slide {
        .info {
            z-index: 1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 1400px;
            padding: 0 650px 0 50px;
            box-sizing: border-box;
            @media (max-width: $desktopXL) {
                padding: 0 600px 0 50px;
              }
            @media (max-width: $desktopL) {
                padding: 0 500px 0 50px;
            }  
            @media (max-width: $desktop) {
                padding: 0 300px 0 50px;
            }  
            @media (max-width: $tablet) {
                padding: 0 50px;
            }
            @media (max-width: $mobile) {
                padding: 0 20px;
                top: initial;
                bottom: 110px;
                transform: translateX(-50%);
            }  
            h1 {
                background-color: white;
                max-width: 560px;
                font-size: 2.3rem;
                box-sizing: border-box;
                display: inline;
                line-height: 50px;
                @media (max-width: $mobile) {
                    font-size: 2rem;
                    line-height: 43px;
                  }

                span {
                    background-color: transparent;
                    position: relative;
                    width: initial;
                    height: initial;
                    display: initial;
                    font-weight: 800;
                }
            }

            h2 {
                color: white;
            }
        }

        span {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 50%);
            display: block;
            position: absolute;
            z-index: 1;
        }

        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center center;
        }
    }

    ul.splide__pagination {
        transform: initial;
        bottom: 50px;
        @media (max-width: $mobile) {
            transform: translateX(-50%);
        }

        li {
            &:last-child {
                margin-right: 80px;
                @media (max-width: $mobile) {
                    margin-right: 0;
                }
            }

            button.splide__pagination__page {
                width: 12px;
                height: 12px;
                background-color: white;
                margin: 5px;
                opacity: 1;

                &.is-active {
                    background-color: $yellow;
                    margin: 7px;

                    &:after {
                        width: 16px;
                        height: 16px;
                        border: 1px solid $yellow;
                        content: "";
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        left: -3px;
                        top: -3px;
                    }
                }
            }
            
        }
    }
}