@use '../base/variables' as *;
@use '../base/mixins.scss' as *;

.Header {
    background-color: $black;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;

    .header_content {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: .6em 1em;
        box-sizing: border-box;
        height: auto;
        display: flex;
        align-items: center;
    }

      .Header--logo {
        width: 100%;
        padding: 0 0 0 2%;
      }
      .Header__nav {
        width: 100%;
        max-width: 450px;
        @media (max-width: $tablet) {
            position: relative;
            height: 30px;
        }

        label.Header__nav--label {
            display: none;
            @media (max-width: $tablet) {
                display: inline-flex;
            }
        }

          #toggle {
            display: none;
          }

          ul {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
          }
          
        
          .Header__nav--sign-in {
            background: #8080802e;
            transition: all 0.3s;
            @media (max-width: $tablet) {
                background: transparent;
            }

            &:hover {
                background: #8e8888a3;
            }

          }

          .Header__nav--label {
            @media (max-width: $tablet) {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                position: absolute;
                z-index: 99;
            }

              i {
                @media (max-width: $tablet) {
                    font-size: 2em;
                    padding: 0 0.3em 0 0;
                    color: $yellow;
                }
              }

          }

          .Header__nav--options {
              ul {
                  li {
                     a {
                         color: white;
                         font-weight: 600;
                         font-size: 1.08rem;
                         text-transform: uppercase;
                         @include hover-transition-5;

                         &.active,
                         &:hover {
                             color: $yellow;
                         }

                     } 
                  }
              }
            @media (max-width: $tablet) {
                display: none;
                width: 50%;
                position: fixed;
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.9);
                box-sizing: border-box;
                right: 0;
                height: 100vh;
                top: 0;
                transition: all 0.3s;
            }
            @media (max-width: $mobile) {
                width: 100%;
            }
          }

          #toggle {
              &:checked + .Header__nav--options {
                @media (max-width: $tablet) {
                  display: block;
                }

                ul {
                    @media (max-width: $tablet) {
                        position: absolute;
                        display: block;
                        text-align: center;
                        top: 20%;
                    }

                    li {
                        @media (max-width: $tablet) {
                            padding: 1em 0;
                            border-bottom: 1px solid #a2a289;
                        }

                        a {
                            @media (max-width: $tablet) {
                                color: #fff;
                                font-size: 20px;
                                font-weight: 500;
                            }
                          }
                    }
                }
              }

              &:checked + .Header__nav--label {
                @media (max-width: $tablet) {
                    color: #fff;
                }
              }
          }

      }

  }

