@use './variables' as *;
@use '../base/mixins.scss' as *;
* {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
a,
label {
  font-family: 'Lato', sans-serif;
}

h2 {
  @media (max-width: $mobile) {
    font-size: 1.2rem;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

button,
input,
textarea {
  outline: 0;
}

.button--primary {
  padding: 1em;
  background: $yellow;
  color: $black;
  border: none;
  text-transform: uppercase;
  @include hover-transition-3;

  &:hover {
    transform: scale(1.1);
  }

}

.button--secondary {
  padding: 1em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  @include hover-transition-3;

  &:hover {
    background: $yellow;
    color: $black;
    border: 1px solid $yellow;
    transform: scale(1.1);
  }

}


.button--primary,
.button--secondary,
.button--third {
  margin: .5em;
  width: auto;
  font-weight: 500;
  min-width: 180px;
  font-size: 0.9rem;
  font-weight: 600;
  @media (max-width: $mobile) {
    min-width: 140px
  }
}

.button--third {
  padding: .7em 1em;
  background: $grey;
  color: white;
  border: none;
  text-transform: initial;
  margin-left: 30px !important;
  position: absolute;
  bottom: 30px;
  right: 30px;
  @include hover-transition-3;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: $mobile) {
    position: relative;
    margin: 60px auto 0 auto !important;
    display: block;
    right: initial;
  }

  span {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(./assets/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: text-bottom;  
    padding-right: 8px;
  }
}

.Movies {
  max-width: 100%;
  margin: 1.5em auto;

  .Movies__categories {
    padding: 0 20px;
    box-sizing: border-box;
    @media (max-width: $desktop) {
      width: 100%;
      overflow-y: initial;
      overflow-x: scroll;
      padding: 0;
    }
  
    .content-categorias {
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      max-width: 1400px;
      margin: 1em auto;
      @media (max-width: $desktop) {
        display: block;
        width: 940px;
      }

      label {
        padding: 1.2em;
        color: #302f2f;
        font-weight: 600;
        font-size: 20px;
        border-radius: 0.3em;
        cursor: pointer;
        position: relative;
        @media (max-width: $tablet) {
          display: inline-block;
          padding: 0 1.2em;
        }
      }

    }
  
  }

  .Movies__list--items {
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    @media (max-width: $desktopL) {
      grid-template-columns: repeat(3, 31.5%);
    }
    @media (max-width: $desktop) {
      grid-template-columns: repeat(2, 47.5%);
    }
    @media (max-width: $mobile) {
      padding: 0;
    }

    li {
      margin: 1em 0;
      text-align: center;
      position: relative;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;

        .Movie--info {
          opacity: 1;
        }

      }

      img {
        width: 100%;
        height: 100%;
      }

      .Movie--info {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        display: flex;
        padding: 20px;
        color: #fff;
        transition: all 0.3s;
        box-sizing: border-box;
        background: #000000ab;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        text-transform: uppercase;
      } 

    }

  }

  input[type=radio] {
    display: none;
  }

  [value=ALL]:checked ~ .Movies__categories label[for=ALL],
  [value=NR]:checked ~ .Movies__categories label[for=NR],
  [value=MP]:checked ~ .Movies__categories label[for=MP],
  [value=TR]:checked ~ .Movies__categories label[for=TR],
  [value=MF]:checked ~ .Movies__categories label[for=MF],
  [value=RE]:checked ~ .Movies__categories label[for=RE] {
    &:after {
      width: 30px;
      height: 5px;
      display: block;
      content: "";
      margin: 7px auto 0 auto;
      background-image: url(./assets/selector.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: $tablet) {
        margin: 5px auto 0 auto;
      }
      
    }
  }

  [value=ALL]:checked ~ .Movies__list--items [data-category] {
    display: block;
  }

  [value=NR]:checked ~ .Movies__list--items .Movie--item:not([data-category~=NR]),
  [value=MP]:checked ~ .Movies__list--items .Movie--item:not([data-category~=MP]),
  [value=TR]:checked ~ .Movies__list--items .Movie--item:not([data-category~=TR]),
  [value=MF]:checked ~ .Movies__list--items .Movie--item:not([data-category~=MF]),
  [value=RE]:checked ~ .Movies__list--items .Movie--item:not([data-category~=RE]) {
    display: none;
  }

}



.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 70px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  &-bg {
    position: absolute;
    background: linear-gradient(180deg, #FFBE40 16.72%, rgb(255, 255, 255) 100%);;
    width: 100%;
    height: 100%;
  }
  &-container {
    position: relative;
    margin-top: -70px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    @media (max-width: $desktopLS) {
      max-width: 850px;
    }

    .img {
      float: left;
      width: 40%;
      @media (max-width: $mobile) {
        width: 100%;
        max-width: 200px;
        float: initial;
        margin: 0 auto;
      }

      img {
        width: 100%;
      }
    }

    .infoModal {
      float: right;
      width: 60%;
      padding-left: 30px;
      box-sizing: border-box;
      @media (max-width: $mobile) {
        width: 100%;
        float: initial;
        padding: 0;
      }

      h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
      }
    }

    &.modalVideo {
      .img {
        display: none;
      }

      .infoModal {
        width: 100%;
        padding: 0;

        #video {
          height: 0;
          overflow: hidden;
          padding-bottom: 56.25%;
          padding-top: 30px;
          position: relative;
          iframe#videoModal {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }

      .button--third {
        display: none;
      }
    }

  }
  &-close {
    position: absolute;
    right: 20px;
    top: 0;
    outline: none;
    appearance: none;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    background-color: #0b0a0a;
    border-radius: 50%;
    color: white;
    padding: 8px 10px;
    line-height: 1;
    @include hover-transition-3;

    &:hover {
      transform: rotate(180deg);
    }

  }
}