@use 'variables.scss' as *;

@mixin hover-transition-5{
	transition: all .5s;
  -webkit-transition: all .5s;
}
@mixin hover-transition-3{
	transition: all .3s;
  -webkit-transition: all .3s;
}
@mixin hover-transition-2{
	transition: all .2s;
  -webkit-transition: all .2s;
}
