// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #0B0A0A;
$yellow: #ffbe40;
$grey: #4D6666;

// Querys
$mobilexs: 350px !default;
$mobilex: 375px !default;
$mobileL: 425px !default;
$mobile: 540px !default;
$tablet: 768px !default;
$desktop: 991px !default;
$desktopL: 1200px !default;
$desktopLS: 1350px !default;
$desktopXL: 1500px !default;
